/* components/Rowslist/Rowslist.css */
body {
  margin: 0;
  padding: 0;
  background-color: #111;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

.app {
  overflow-x: hidden;
  background-color: #111;
  padding-bottom: 50px;
}

h2 {
  margin-left: 20px;
}
